body{
    color: rgb(43, 44, 45);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 2px -2px;
}
